:root { --navbar-height: 1rem; 
        --navbar-margin-bottom: 1rem;
        --dragon-body-padding: 1rem; }

body, html { margin: 0;
             padding: 0;
             box-sizing: border-box;
             font-family: sans-serif;
             font-weight: 400; }

#root { position: relative;
        z-index: 0; }

/* Utilities */
.bold { font-weight: bold; }

.button { border: 1px solid white;
          padding: 0.75rem; 
          border-radius: 10px; }

.text-align-left { text-align: left; }

.text-align-right { text-align: right; }

.text-align-center { text-align: center; }

.app-container { display: flex;
                 flex-direction: column; }

/* Overlay on top of the background video */
.overlay { background-color: rgba(0, 0, 0, 0.65); 
           z-index: -1; 
           height: 100vh; 
           padding: var(--dragon-body-padding); }

/* Background video for the site */
.dragon-video { position: fixed;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                z-index: -2; }

/* Navbar */
.navbar { display: flex; 
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
          flex-wrap: wrap;
          gap: 1rem;
          width: 100%;
          height: var(--navbar-height); 
          margin-bottom: var(--navbar-margin-bottom); }

.navbar-cart-icon-and-quantity-container { display: flex;
                                           flex-direction: row;
                                           align-items: center; }
        
.navbar-cart-icon { width: 24px; 
                    height: auto; }

/* Scrollable page */
.scrollable-page { overflow: auto; 
                   /* We calc the height, otherwise there will be white horizontal bars */
                   height: calc(100vh - var(--navbar-height) - var(--navbar-margin-bottom) - var(--dragon-body-padding)); }

/* Home page classes */
.home-page-logo { width: 100%; 
                  height: auto; 
                  opacity: 0.5; 
                  position: absolute;
                  top: 50%;
                  left: 50%; 
                  transform: translate(-50%, -50%); 
                  max-width: 78.125rem; }

/* About page classes */
.about-paragraph-bottom-padding { padding-bottom: 1rem; }

/* blogs page classes */
.empty-blogs-page { display: flex; 
                    flex-direction: row;
                    justify-content: center;
                    align-items: center; }

.blogs-container { display: flex; 
                   flex-direction: column;
                   gap: 1rem; }

/* Currently not in use */
/* .review-paragraph-bottom-padding { padding-bottom: 1rem; } */


/* Menu + Cart page classes */
.loading-text-container { display: flex;
                          flex-direction: row;
                          justify-content: center;
                          align-items: center; }

.loading-text-font-size { font-size: 1.5rem; }

/* Menu page classes */
.menu-item-container { display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center; 
                       gap: 0.25rem; 
                       padding-top: 1rem;
                       padding-right: 1rem;
                       padding-bottom: 2rem; 
                       padding-left: 1rem; }

/* Cart page classes */
.empty-cart-page-container { display: flex;
                             flex-direction: column;
                             justify-content: center;
                             align-items: center;
                             gap: 1rem; }

.cart-table-container { overflow: auto; }

.cart-table { border-collapse: separate;
              border-spacing: 0rem 1rem; 
              min-width: 500px; }

.cart-td-padding-right { padding-right: 2rem; }

/* Cart item classes */
.cart-item-clicker-container { display: flex;
                               flex-direction: row;
                               flex-wrap: nowrap; 
                               gap: 0.5rem; }

.cart-plus-and-minus-icon { cursor: pointer; 
                            width: 25px; 
                            height: auto; }

.cart-trashcan-icon { width: 25px;
                      height: auto; 
                      cursor: pointer; }