:root { --navbar-height: 3rem; 
        --page-title-height: 3rem; 
        --dragon-body-padding: 2rem; }

body, html { margin: 0;
             padding: 0;
             box-sizing: border-box;
             font-family: sans-serif;
             font-weight: 400; }

.bold { font-weight: bold; }

/* Next to do:
1. Figure out how to get the background to resize correctly when
the user resizes the window.
2. Replace the image with a video we generate from runway.
3. Clean up any remaining issues and do another sweep cleaning code */

/* Dragon body */
.dragon-body { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/welcomeScreen.jpg');
               background-size: cover;
               background-repeat: no-repeat;
               height: 100vh; 
               padding: var(--dragon-body-padding); }

/* Navbar */
.navbar { overflow: hidden;
          width: 100%;
          /* background-color: rgba(0, 0, 0, 0.5);  */
          height: var(--navbar-height); }

.navbar a { float: right;
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 1rem;
            padding: 0.5rem;
            color: white; }

/* Page title */
.page-title { height: var(--page-title-height); 
              color: white; }

/* Scrollable page */
.scrollable-page { overflow: auto; 
                   /* Subtracting the height of the navbar from the scrollable-page
                      otherwise we will get weird horizontal white bars */
                   height: calc(100vh - var(--navbar-height) - var(--page-title-height) - var(--dragon-body-padding)); }