:root { --navbar-height: 3rem; 
        --navbar-margin-bottom: 1rem;
        --page-title-height: 3rem; 
        --dragon-body-padding: 1rem; }

body, html { margin: 0;
             padding: 0;
             box-sizing: border-box;
             font-family: sans-serif;
             font-weight: 400; }

#root { position: relative;
        z-index: 0; }

.bold { font-weight: bold; }

/* Next to do:
1. Figure out how to get the background to resize correctly when
the user resizes the window.
2. Replace the image with a video we generate from runway.
3. Clean up any remaining issues and do another sweep cleaning code */

/* Dragon body */
/* .dragon-body { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/welcomeScreen.jpg');
               background-size: cover;
               background-repeat: no-repeat;
               height: 100vh; 
               padding: var(--dragon-body-padding); } */

/* .dragon-body { height: 100vh; 
               padding: var(--dragon-body-padding); } */

.overlay { background-color: rgba(0, 0, 0, 0.65); 
           z-index: -1; 
           height: 100vh; 
           padding: var(--dragon-body-padding); }

.dragon-video { position: fixed;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                z-index: -2; }

/* Navbar */
.navbar { display: flex; 
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
          flex-wrap: wrap;
          gap: 1rem;
          width: 100%;
          height: var(--navbar-height); 
          margin-bottom: var(--navbar-margin-bottom); }

/* .navbar a { color: white; } */

.cart-icon { width: 24px; 
             height: auto; }


/* .navbar { width: 100%;
          height: var(--navbar-height); }

.navbar a { float: right;
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 1rem;
            padding: 0.5rem;
            color: white; } */

/* Page title */
.page-title { height: var(--page-title-height); 
              font-family: "MedievalSharp", cursive;
              font-size: 1.5rem;
              text-transform: uppercase; }

/* Scrollable page */
.scrollable-page { overflow: auto; 
                   /* We calc the height, otherwise there will be white horizontal bars */
                   height: calc(100vh - var(--navbar-height) - var(--navbar-margin-bottom) - var(--page-title-height) - var(--dragon-body-padding)); }

/* Home page logo */
.home-page-logo-container { display: flex; 
                            flex-direction: row; 
                            justify-content: center;
                            align-items: center; }

.home-page-logo { width: 80%; 
                  height: auto; 
                  opacity: 0.5; }


/* Cart item clicker */
.cart-item-clicker-container { display: flex;
                               flex-direction: row;
                               flex-wrap: nowrap; 
                               /* justify-content: center;
                               align-items: center; */
                               gap: 0.5rem; }

.cart-minus-icon { cursor: pointer; 
                   width: 25px; 
                   height: auto; }

.cart-item-quantity { font-size: 1.5rem; }

.cart-plus-icon { cursor: pointer; 
                  width: 25px; 
                  height: auto; }

/* Cart page table */
.cart-table { border-collapse: separate;
              border-spacing: 0rem 1rem;
              /* width: 100%; */
              /* background-color: rgba(0, 0, 0, 0.65);  */ }

.trashcan-icon { width: 25px;
                 height: auto; 
                 cursor: pointer; }