* {
  box-sizing: border-box;
}

:root {
  --primary-blue-color: #011627
  --primary-tan-color: #FEEFB0
}

.blue_font {
  color: var(--primary-blue-color);
}

.tan_font {
  color: var(--primary-tan-color);
}

.blue_background {
  background-color: var(--primary-blue-color);
}

.tan_background {
  background-color: var(--primary-tan-color);
}

.sofia-regular {
    font-family: "Sofia";
    font-weight: 400;
    font-style: normal;
}

.bold {
  font-weight: bold;
}

.neon-hr {
  border: none;
  height: 4px;
  background: var(--primary-tan-color);
  margin: 20px 0;
  border-radius: 2px;
  box-shadow: 0 0 15px #FEEFB0,
              0 0 20px #FEEFB0,
              0 0 25px #FEEFB0,
              0 0 30px #FEEFB0;
  /* box-shadow: 0 0 15px rgba(0, 255, 255, 0.8),
              0 0 20px rgba(0, 255, 255, 0.6),
              0 0 25px rgba(0, 255, 255, 0.4),
              0 0 30px rgba(0, 255, 255, 0.2); */
}