* {
  box-sizing: border-box;
}

:root {
  --primary-blue-color: "#011627"
  --primary-tan-color: "#FEEFB0"
}

.blue_font {
  color: var(--primary-blue-color);
}

.tan_font {
  color: var(--primary-tan-color);
}

.blue_background {
  background-color: var(--primary-blue-color);
}

.tan_background {
  background-color: var(--primary-tan-color);
}

.sofia-regular {
    font-family: "Sofia";
    font-weight: 400;
    font-style: normal;
}

.bold {
  font-weight: bold;
}