:root {
  --primary-blue-color: #011627;
  --primary-tan-color: #FEEFB0;
}

.dragon_body {
  background-image: url('../images/welcomeScreen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.blue_font {
  color: var(--primary-blue-color);
}

.tan_font {
  color: var(--primary-tan-color) !important;
}

.blue_background {
  background-color: var(--primary-blue-color) !important;
}

.tan_background {
  background-color: var(--primary-tan-color);
}

.primary_font {
  font-family: sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: bold;
}